/* 
    engToAutStyle
    Neil Balaskandarajah
    Created: 07/18/2019
    Stylesheet for the English to Autobot page
*/

/* colors for the page*/
:root {
    --bg-color: #2C3531;
    --title-color: #D9B08C;
    --desc-color: #c49b78;

    --arrow-reg:#169294;
    --arrow-hov:#116466;

    --clear-reg: #169294;
    --clear-hov: #116466;
    --clear-txt: #fdf7f2;
    --clear-margin: 0.5vw;

    --box-margin: 2vw;
}

/* Autobot Font */
@font-face {
    font-family: Autobot;
    src: url(../../Home/style/ancient-autobot/autobot.ttf);
}

/* page background */
.bg {
    background-color:var(--bg-color);
}

/* TEXTS */
/* title text */
.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size:6vw;
    padding:5px;
    margin:5px;
    color:var(--title-color);
    text-align: center;
}

/* description text */
.desc {
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.5vw;
    padding:5px;
    margin:5px;
    color:var(--desc-color);
    text-align: center;
}

/* Input fields */
/* English field */
.english-field {
    /* alignment */
    float:left;

    /* size and font */
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.68vw;
    width:40vw;
    height:20vw;
    margin-left:var(--box-margin);
    margin-top:var(--box-margin);
    margin-right:var(--box-margin);
    border-radius:0.5vw;
}

/* Autobot field */
.autobot-field {
    /* alignment */
    float:right;

    /* size and font */
    resize:none;
    font-family:Autobot;
    font-size:1.68vw;
    width:40vw;
    height:20vw;
    margin-left:var(--box-margin);
    margin-top:var(--box-margin);
    margin-right:var(--box-margin); 
    border-radius:0.5vw;

    /* make it so users cannot select text */
    -webkit-user-select: none;
}

/* SVG element for arrow */
#to-auto {
    margin:auto;
}

/* translation arrow */
.translate-arrow {
    fill:var(--arrow-reg);

    transition: fill 0.1s;
}

/* .hover is a "Selector" */
.translate-arrow:hover {
    fill:var(--arrow-hov);
    cursor:pointer;
}

/* Clear and Encrypt button */
#clear, #encrypt {
    margin-left:var(--box-margin);
    margin-top:var(--clear-margin);
    padding:0.5vw;
    background-color:var(--clear-reg);
    color:var(--clear-txt);
    display:inline-block;
    font-size:3vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5vw;

    transition: background-color 0.1s;
}

/* Clear and Encrypt button hover actions */
#clear:hover, #encrypt:hover {
    background-color:var(--clear-hov);
    cursor:pointer;
}

/* Curtain animation */
.curtain {
    background-color:var(--bg-color);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    animation-name: curtain-change;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes curtain-change {
    from {transform:translateX(0%);}
    to {transform:translateX(-100%);}
}