/* 
    autToEngStyle
    Neil Balaskandarajah
    Created: 07/18/2019
    Stylesheet for the Autobot to English page
*/

/* colors for the page*/
:root {
    /* colors */
    --bg-color: #2C3531;
    --title-color: #D9B08C;
    --desc-color: #c49b78;

    /* arrow colors */
    --arrow-reg:#169294;
    --arrow-hov:#116466;

    /* clear button */
    --clear-reg: #169294;
    --clear-hov: #116466;
    --clear-txt: #fdf7f2;
    --clear-margin: 0.5vw;

    /* fields */
    --box-margin: 2vw;
    --field-height: 20vw;
    --field-width: 40vw;

    /* buttons */
    --button-margin: 34%;
    --button-offset: -55%;

    /* fonts */
    --title-font: 8vw;
    --desc-font: 2vw;
    --field-font: 3vw;
    --button-font: 3vw;
}

/* Autobot Font */
@font-face {
    font-family: Autobot;
    src: url(../../Home/style/ancient-autobot/autobot.ttf);
}

/* page background */
.bg {
    background-color:var(--bg-color);
}

/* TEXTS */
/* title text */
.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size:var(--title-font);
    padding:5px;
    margin:5px;
    color:var(--title-color);
    text-align:center;
}

/* description text */
.desc {
    font-family:Arial, Helvetica, sans-serif;
    font-size:var(--desc-font);
    padding:5px;
    margin:5px;
    color:var(--desc-color);
    text-align: center;
}

/* Input fields */
/* Autobot field */
.autobot-field {
    float:left;
    margin-left: 2vw;

    /* size and font */
    resize:none;
    font-family:Autobot;
    font-size:var(--field-font);
    width:var(--field-width);
    height:var(--field-height);
    display:block;
    border-radius:0.5vw;
}

/* English field */
.english-field {
    float:right;
    /* margin:auto; */
    margin-right:2vw;

    /* size and font */
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:var(--field-font);
    width:var(--field-width);
    height:var(--field-height);
    display:block;
    border-radius:0.5vw;
}

/* SVG element for arrow */
#arrow {
    width:10%;
    margin: 5vw 0vw 0vw 2vw;
    display:inline-block;
}

/* translation arrow */
.translate-arrow {
    fill:var(--arrow-reg);

    transition: fill 0.1s;
}
/* :hover is a "Selector" */
.translate-arrow:hover {
    fill:var(--arrow-hov);
    cursor:pointer;
}

/* BUTTONS */

/* unordered list */
ul {
    list-style-type: none;
    margin: 0vw 0vw 0vw 0vw;
    padding: 0vw;
}

/* list items */
li {
    display: inline;
}

/* Button style */
.button {
    padding:0.5vw;
    background-color:var(--clear-reg);
    color:var(--clear-txt);
    display:inline-block;
    font-size:var(--button-font);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5vw;

    transition: background-color 0.1s;
}

.button:hover {
    background-color:var(--clear-hov);
    cursor:pointer;
}

/* Div for all buttons */
.buttons {
    display:inline;
}

/* Clear button */
#clear {
    margin-left:var(--box-margin);
    margin-top:var(--box-margin);
}

/* Upload button */
#upload {
    margin-left:var(--box-margin);
    margin-top:var(--box-margin);
}

/* Curtain animation */
.curtain {
    background-color:var(--bg-color);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    height:100%;
    animation-name: curtain-change;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes curtain-change {
    /* 0% {transform:translateX(0%);}
    100% {transform:translateX(100%);} */
    0% {width:100%;}
    100% {width:0%;}
}