/* 
    autToEngStyle
    Neil Balaskandarajah
    Created: 07/18/2019
    Stylesheet for the Autobot to English page
*/

/* colors for the page*/
:root {
    --bg-color: blue;
    --title-color: red;
    --desc-color: red;

    --arrow-reg: rgb(255,0,0); 
    --arrow-hov: rgb(205,0,0);

    --clear-reg: rgb(50,50,50);
    --clear-hov: rgb(35,35,35);
    --clear-txt: white;
    --clear-margin: 0.5vw;

    --box-margin: 2vw;

    --button-margin: 34%;
    --button-offset: -55%;
}

/* Autobot Font */
@font-face {
    font-family: Autobot;
    src: url(../../Home/style/ancient-autobot/autobot.ttf);
}

/* page background */
.bg {
    background-color:var(--bg-color);
}

/* TEXTS */
/* title text */
.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size:6vw;
    padding:5px;
    margin:5px;
    color:var(--title-color);
    text-align:center;
}

/* description text */
.desc {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5vw;
    padding:5px;
    margin:5px;
    color:var(--desc-color);
    text-align: center;
}

/* Input fields */
/* Autobot field */
.autobot-field {
    /* size and font */
    resize:none;
    font-family:Autobot;
    font-size:1.68vw;
    width:75vw;
    height:10vw;
    margin:auto;
    display:block;
}

/* English field */
.english-field {
    /* size and font */
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.68vw;
    width:75vw;
    height:10vw;
    margin:auto;
    display:block;
}

/* SVG element for arrow */
#to-auto {
    margin:auto;
    display:inline-block;
}

/* translation arrow */
.translate-arrow {
    fill:var(--arrow-reg);

    transition: fill 0.1s;
}

/* :hover is a "Selector" */
.translate-arrow:hover {
    fill:var(--arrow-hov);
    cursor:pointer;
}

/* Button style */
.button {
    padding:0.5vw;
    background-color:var(--clear-reg);
    color:var(--clear-txt);
    display:inline-block;
    font-size:3vw;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5vw;
    margin:auto;

    transition: background-color 0.1s;
}

.button:hover {
    background-color:var(--clear-hov);
    cursor:pointer;
}

/* Clear button */
#clear {
    margin-left:var(--box-margin);
    margin-top:var(--box-margin);
    margin-right:var(--button-margin);
    transform: translate(0%, var(--button-offset));
}

/* Upload button */
#upload {
    margin-left:var(--button-margin);
    margin-top:var(--box-margin);
    margin-right:var(--box-margin);
    transform: translate(0%, var(--button-offset));
}

/* Curtain animation */
.curtain {
    background-color:blue;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    height:100%;
    animation-name: curtain-change;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes curtain-change {
    /* 0% {transform:translateX(0%);}
    100% {transform:translateX(100%);} */
    0% {width:100%;}
    100% {width:0%;}
}